.item1 {
  grid-area: header;
}
.item2 {
  grid-area: icon;
}
.item3 {
  grid-area: main;
}
.item4 {
  grid-area: footer;
}

.grid-container {
  margin: 10px auto;
  width: 80%;
  height: 68px;
  grid-template-columns: 50px;
  //padding: 5px 40px 5px 10px;

  border-radius: 44px;
  display: grid;
  grid-template-areas:
    "icon header header header header header"
    "icon main main main main main"
    "icon footer footer footer footer footer";
  grid-gap: 2px;
  background-color: #f4f4f4;

 
  .item1 {
    grid-area: header;
    color: #1d1d1b;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding-left: 20px;
    padding-top: 10px;
  }
  .item2 {
    grid-area: icon;
    display: flex;
    align-items: center;
    padding-left: 10px;

    
  }
  .item3 {
    grid-area: main;
    padding-left: 20px;
    font-size: 4px;

    .progressContainer {
      @include respond(ipadProLandscape) {
        width: 95%;
      }
      @include respond(iphone678p) {
        width: 85%;
      }

      border-radius: 5px;
      background-color: white;
      -webkit-clip-path: polygon(
        polygon(1% 55%, 2% 50%, 100% 0, 100% 100%, 0% 100%)
      );
      clip-path: polygon(1% 55%, 2% 50%, 100% 0, 100% 100%, 0% 100%);
      .progress {
        background-color: $primary;
        border-bottom-left-radius: 5px;
        height: 14px;
        width: 0;
        float: left;
      }
      .progressBonus {
        background-color: $secondary;
        border-bottom-left-radius: 5px;
        height: 14px;
        width: 0;
      }
    }
  }
  .item4 {
    grid-area: footer;
    text-align: right;

    letter-spacing: 0.136px;
    font-size: 10px;
    padding-right: 40px;
  }
}
